.simple-bar .menu li {
    margin-right: 27px;
}

.subnav li a {
    margin-bottom: 0px;
}

.subnav li {
    min-width: 10px;
}

ul.subnav {
   background-color: rgba(255,255,255,0.9);
   margin-top:-62px;
   margin-left:-5px;
   padding: 5px 5px 5px 5px
}

.subnav {
  opacity: 0;
  display: block;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.has-dropdown:hover .subnav {
  -webkit-transform:opacity(1);
  transform:opacity(1);
  opacity: 1;
}

.has-dropdown {
   margin-right:0px;   
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
   ul.subnav li {
      float:left;
      padding: 2px 2px 2px 2px
   }
   ul.subnav li {
      background-color: rgba(255,255,255,0.9);
      margin-top:30px;
      margin-left:-5px;
      padding: 5px 5px 5px 5px
   }

}

div.__slackin {
   z-index:999
}


ul.pull-right {
   padding-top: 5px;
}

.lang-menu {
   display: none;
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
   .lang-menu {
      display: block;
      padding-top:4px;
      
   }
}

img.grayscale {
    opacity: 0.5;
}